<div class="modal-header">
  <h4>
    Tipo de Motos
  </h4>
  <button class="btn-close" (click)="activeModal.close()">
  </button>
</div>
<div class="modal-body">
  <div class="d-flex" [formGroup]="formMotorcycleType">
    <div class="col-sm-12 col-md-2">
      Nombre
    </div>
    <div class="col-sm-12 col-md-10">
      <input class="form-control"
             formControlName="nameMotorcycleType"
      placeholder="Ingrese tipo de Moto">
    </div>
  </div>
  <hr>
  <div class="">
    <table class="table table-style table-bordered table-hover">
      <thead class="color-thead">
      <tr>
        <th>
          Tipo de Moto
        </th>
        <th class="text-center">
          Acciones
        </th>
      </tr>
      </thead>
      <tbody class="overflow-motorcycleType">
        @for (motorcycleType of dataMotorcycleType; track motorcycleType) {
          <tr>
            <td class="width-table">
              {{ motorcycleType.motorcycleType }}
            </td>
            <td class="d-flex justify-content-center">
              <div class="btn-group">
                <button class="btn btn-outline-danger" (click)="deleteMotorcycleType(motorcycleType.id)"
                        ngbTooltip="Eliminar">
                  <i class="bi bi-trash3"></i>
                </button>
                <button class="btn btn-outline-success" (click)="editMotorcycleType(motorcycleType.id)"
                        ngbTooltip="Editar                                                                                                                                                                                                                                                                                                                                                                                                                                                ">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-danger" (click)="activeModal.close()">
    Cancelar
  </button>
  @if (!checkedButton) {
    <button class="btn btn-outline-primary" (click)="saveMotorcycleType()">
      <i class="bi bi-floppy m-1"></i>Guardar
    </button>

  } @else {
    <button class="btn-outline-warning btn" (click)="updateMotorcycleType()">
      Actualizar
    </button>
  }
</div>
