
<div class="mt-1 container">
  <div class="row">
    @for (motorCycle of dataMotorcycle; track motorCycle) {
      <div class="col-sm-12 col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <div class="w-100" style="width: 20px; height: 20px">
              <img [src]="this.getImage(motorCycle.image)" alt="">
            </div>
            <strong>Brand:</strong> {{ motorCycle.brand }}
            <br>
            <strong>Model:</strong> {{ motorCycle.model }}
            <br>
            <strong>Año:</strong> {{ motorCycle.year }}
            <br>
            <strong>Color:</strong> {{ motorCycle.color }}
            <br>
            <strong>Price:</strong> {{ motorCycle.price }}
          </div>
        </div>
      </div>
    }
  </div>
</div>
