<div class="container-xxl mt-2">
  <div>
    <div class="btn-group mb-1">
      <button class="btn btn-outline-success"
              (click)="openModalCreateMotorcycle()">
        <i class="bi bi-plus-circle"></i>
        Motos
      </button>
      <button class="btn btn-outline-success"
              (click)="openModalCreateMotorcycleType()"
              ngbTooltip="Tipo de motos"
              placement="bottom">
        <i class="bi bi-plus-circle"></i>
        T.Motos
      </button>
      <button class="btn btn-outline-success"
              (click)="openBrandCycle()"
              ngbTooltip="Marca de motos"
              placement="bottom">
        <i class="bi bi-plus-circle"></i>
        M.Motos
      </button>
    </div>

    <table class="table table-style table-hover table-bordered">
      <thead>
      <tr class="color-thead">
        <th>
          Marca
        </th>
        <th>
          T.Moto
        </th>
        <th>
          Modelo
        </th>
        <th>
          Motor
        </th>
        <th>
          Color
        </th>
        <th>
          Año
        </th>
        <th>
          Precio
        </th>
        <th class="width-action">
          Acciones
        </th>
      </tr>
      </thead>
        <tbody class="overflow-motorcycle">
          @for (motorcycle of dataMotorcycle; track motorcycle) {
            <tr class="">
              <td>
                {{ motorcycle.brandcycle?.brandcycle }}
              </td>
              <td>
                {{ motorcycle.motorcycleType?.motorcycleType }}
              </td>
              <td>
                {{ motorcycle.model }}
              </td>
              <td>
                200
              </td>
              <td>
                {{ motorcycle.color }}
              </td>
              <td>
                {{ motorcycle.year }}
              </td>
              <td>
                {{ motorcycle.price }}
              </td>
              <td colspan="d-flex justify-content-center width-action">
                <div class="btn-group btn-align">
                  <button class="btn btn-outline-danger"
                          ngbTooltip="Eliminar">
                    <i class="bi bi-trash3"></i>
                  </button>
                  <button class="btn btn-outline-success"
                          ngbTooltip="Editar"
                          (click)="editMotorcycle(motorcycle.id)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </div>
              </td>
            </tr>
          }
    </table>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-danger"
              routerLink="/">
        Salir
      </button>
    </div>
  </div>
</div>
