<div class="modal-header">
  <h4 class="modal-title">Guardar Moto</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container" [formGroup]="formMotorcycle">
    <div class="row">
      <div class="col-sm-12 col-md-1 ">
        <label>Marca: </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <ng-select
          formControlName="brand"
          placeholder="Ingrese marca"
        [items]="dataBrandMotorcycle"
        bindLabel="brandcycle"
        bindValue="id">
        </ng-select>
      </div>
      <div class="col-sm-12 col-md-1 ">
        <label>Modelo: </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <input class="form-control"
               formControlName="model"
               placeholder="Ingrese modelo">
      </div>
      <div class="col-sm-12 col-md-1">
        <label>Color: </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <input class="form-control"
               formControlName="color"
               placeholder="Ingrese color">
      </div>
      <div class="col-sm-12 col-md-1">
        <label>Año: </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <input class="form-control"
               formControlName="year"
               placeholder="Ingrese año">
      </div>
      <div class="col-sm-12 col-md-1">
        <label>Precio: </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <input class="form-control"
               formControlName="price"
               placeholder="Ingrese precio">
      </div>
      <div class="col-sm-12 col-md-1">
        <label>T.de Moto </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <ng-select
          formControlName="idTypeMotorcycle"
          [items]="dataMotorcycleType"
          bindValue="id"
          bindLabel="motorcycleType"
          placeholder="Seleccione tipo de moto">
        </ng-select>
      </div>
      <div class="col-sm-12 col-md-2">
        <label>Seleccione imagen </label>
      </div>
      <div class="col-sm-12 col-md-5 mb-2">
        <input type="file" (change)="onFileSelected($event)" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Close click')">
    Cancelar
  </button>

  @if (isEditMotorcycle) {
    <button type="button" class="btn btn-outline-warning" (click)="updateMotorcycle()">
      <i class="bi bi-floppy m-1"></i>
      Actualizar
    </button>
  } @else {
    <button type="button" class="btn btn-outline-primary" (click)="createMotorcycle()">
      <i class="bi bi-floppy m-1"></i>
      Guardar
    </button>
  }

</div>


