.navbar-color {
  background-color: black;
  height: 2.5cm;
}

.margin-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-right-search {
  margin-right: 3px;
}

.img-motor {
  height: 2cm;
  width: 4cm;
  margin-left: 2px;
  margin-right: 5px;
  border-radius: 2px;
}
.font-title {
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  font-family: C059;
}
