.navbar-color {
  background-color: black;
  height: auto;
  width: auto;
}

.margin-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-right-search {
  margin-right: 2px;
}

.img-motor {
  height: 2cm;
  width: 4cm;
  margin-left: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

.font-title {
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
  font-family: C059;
}

.bi-person-fill {
  color: aliceblue;
  border-bottom: aliceblue;
  font-size: 30px;
}
