<div class=" margin-search navbar-color">
  <div class="d-flex align-items-center">
    <div class="">
      <img class="img-motor" src="assets/logocamey.jpeg" alt="">
    </div>
    <div class="font-title">
      CAMEY MOTORS
    </div>
  </div>
  <div class="margin-right-search">
    <form class="d-flex align-items-center" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</div>
