<div style="margin: 0 auto; width: 100%;" >
  <div id="carouselExampleInterval" class="carousel slide img-margin-left" data-bs-ride="carousel">
    <div>
      <div class="carousel-inner img-carousel-height" >
        <div class="carousel-item  active" data-bs-interval="3000">
          <img src="assets/vistajch.png" class="d-block ">
        </div>
        <div class="carousel-item " data-bs-interval="3000">
          <img src="assets/vista2.png" class="d-block  ">
        </div>
        <div class="carousel-item ">
          <img  src="assets/RAPTOR-250.png"class="d-block  ">
        </div>
      </div>

      <button class="carousel-control-prev color-previous" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden color-previous">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
